
body{
  background-color: #7D7C84;
  font-family: 'Staatliches', cursive;
  color: #ffffff;
}

.city {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

/* On mouse-over */
.city:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
